<ul id="lists">
  <%if @lists.empty?%>
    <div class="empty_list">Use the menu to create a new list.</div>
  <%else%>
  <% sort_lists(@lists) do |list| %>
    <li class=<%= ('complete' if list_completed?(list)) %>>
      <a href="/lists/<%= list[:id] %>">
        <h2><%= list[:name] %></h2>
        <p><%= "#{ remaining_todos_count(list) } / #{ todos_count(list) }" %></p>
      </a> 
    </li> 
  <% end %>
  <%end%>
</ul>

  <% content_for :header_links do %>
   <a href="/lists/new" class="add">New List</a>
  <% end %>

  <% content_for :header_links do%>
   <a href="/clear" class="delete" action="/clear"> Clear lists </a> 
  <% end %> 
 