

Please login below. (Not registered? <a class="login" href="/signup" >Sign up</a>)
<form class="login" action="/login" method="post">
  <dl>
    <dt>
      <label for="username">Username:</label>
    </dt>
    <dd>
      <input class="login" name="username" placeholder="Username" type="text" value= "">
    </dd>
    <dt>
      <label for="password">Password:</label>
    </dt>
    <dd>
      <input class="login" name="password" placeholder="Password" type="password" value= "">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Login">
  </fieldset>
</form>